<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../themes/console.css">

    <script type="text/javascript" src="console.js"></script>

    <title>chat-iruzo</title>
</head>
<body>
    <div style="display: flex;">
        <textarea readonly class='consoleText' name="net" id="net" cols="50"  rows="31" style="width: 90%; padding-right: 9.5%" onclick="getIpList()"></textarea>
        <div>
            <textarea readonly class='consoleText' name="consoleOutput" id="consoleOutput" cols="200" rows="30" style="width: 90%; padding-right: 9.5%"></textarea>
            <textarea          class='consoleText' name="consoleInput"  id="consoleInput"  cols="200" rows="1"  style="width: 90%; padding-right: 9.5%" onKeydown="Javascript: if (event.key=='Enter') send(this)" ></textarea>
        </div>
    </div>
</body>
</html>