html, body {
    background: -webkit-linear-gradient(330deg, #000, #505050);
    background: linear-gradient(120deg, #000, #3f3f3f);
    overflow: hidden;
}

#consoleOutput {
    background: -webkit-linear-gradient(330deg, #000, #505050);
    background: linear-gradient(120deg, #000, #3f3f3f);
    border-color: #000;
    color: white;
}

#consoleInput {
    background: -webkit-linear-gradient(330deg, #000, #505050);
    background: linear-gradient(120deg, #000, #3f3f3f);
    color: white;
}

#net {
    background: -webkit-linear-gradient(330deg, #000, #505050);
    background: linear-gradient(120deg, #000, #3f3f3f);
    color: white;
}

/* .wrapper {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 85% 15%;
    grid-gap: 10px;
    padding: 10px;
} */